<section class="content-header">
  <h2>
    Requisition
    <small>Detail</small>
  </h2>
  <ol class="breadcrumb">
    <li><a href="<%= admin_dashboard_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active"><a href="<%= requisitions_path %>"><i class="fa fa-file-pdf-o"></i> Requisitions</a></li>
    <li><a href="<%= edit_requisition_path(@requisition) %>"><i class="fa fa-pencil"></i> Edit</a></li>
  </ol>
</section>

<section class="content">

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">
            <%= @requisition.title %>
          </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Title</th>
              <th>Items</th>
              <th width="40%">Description</th>
              <th>Status</th>
              <th><%= t '.actions', :default => t('helpers.actions') %></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><%= @requisition.title %></td>
              <td>
                <ul class="list-unstyled">
                  <% @requisition.item_requisitions.each do |itemRequ| %>
                      <li><%= itemRequ.item.name %>: <%= itemRequ.quantity %></li>
                  <% end %>
                </ul>
              </td>
              <td><%= @requisition.description if @requisition.description.present? %></td>
              <td><%= @requisition.status %></td>
              <td>
                <%= link_to t('.edit', :default => t('helpers.links.edit')),
                            edit_requisition_path(@requisition), :class => 'btn btn-sm btn-warning' %>
                <%= link_to t('.destroy', :default => t('helpers.links.destroy')),
                            requisition_path(@requisition),
                            :method => :delete,
                            :data => {:confirm => t('.confirm', :default => t('helpers.links.confirm', :default => 'Are you sure?'))},
                            :class => 'btn btn-sm btn-danger' %>
              </td>
            </tr>

            </tbody>

          </table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>


  <!-- /.row -->

</section>