<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Police Inventory | Admin Panel</title>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

  <%= javascript_include_tag 'application_admin' %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?&libraries=places&key=AIzaSyB_oZepv3y13o-Hhlam2VnkRSTTXORdJas"></script>


  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="/admin/users" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>IN+</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">Police Inventory</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!--<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->
              <span class="hidden-xs">
                <%= current_user.email if current_user.present? %>
              </span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <!--<li class="user-header">-->
                <!--&lt;!&ndash;<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">&ndash;&gt;-->

                <!--<p>-->
                  <%#= current_user.last_name.empty? ? ' ': current_user.last_name %>&nbsp;
                  <!--<%#= current_user.first_name.empty? ? ' ': current_user.first_name %>-->
                  <!--&lt;!&ndash;<small>Member since Nov. 2012</small>&ndash;&gt;-->
                <!--</p>-->
              <!--</li>-->
              <!-- Menu Body -->
              <!--<li class="user-body">-->
                <!--<div class="row">-->
                  <!--<div class="col-xs-4 text-center">-->
                    <!--<a href="#">Followers</a>-->
                  <!--</div>-->
                  <!--<div class="col-xs-4 text-center">-->
                    <!--<a href="#">Sales</a>-->
                  <!--</div>-->
                  <!--<div class="col-xs-4 text-center">-->
                    <!--<a href="#">Friends</a>-->
                  <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.row &ndash;&gt;-->
              <!--</li>-->
              <!-- Menu Footer-->
              <li class="user-footer">
                <!--<div class="pull-left">-->
                  <!--<%#= link_to 'Profile', admin_user_path(current_user.id) %>-->
                <!--</div>-->
                <div class="pull-right">
                  <%= link_to 'Logout', destroy_user_session_path, :class => 'btn btn-default btn-flat', :method => 'delete' %>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>

        <li class="<%= breadcrumb()['dashboard'] %>">
          <a href="<%= admin_dashboard_path %>" data-no-turbolink>
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>

        <li class="<%= breadcrumb()['user'] %>">
          <a href="<%= admin_users_path %>">
            <i class="fa fa-group"></i> <span>Users</span>
          </a>
        </li>

        <li class="<%= breadcrumb()['item'] %>">
          <a href="<%= admin_items_path %>">
            <i class="fa fa-database"></i> <span>Inventory</span>
          </a>
        </li>

        <li class="<%= breadcrumb()['requisition'] %>">
          <a href="<%= requisitions_path %>">
            <i class="fa fa-file-pdf-o"></i> <span>Requisitions</span>
          </a>
        </li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 500px;">
    <%#= bootstrap_flash %>
    <%= yield %>
  </div>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <!--<b>Version</b> 2.3.6-->
    </div>
    <strong>Copyright &copy; 2017-2018 DMP</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
</body>
</html>

